head {
	title {
		content: "OwO";
	}
	style {
		#main {
			background: #321257;
		}
	}
}
body {
	background: black;

	div#main {
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
	
		padding: 20px;
		border: 2px solid white;
		border-radius: 20px;
	
		p {
			content: "Hello, World!";
	
			color: white;
			margin: 0;
		}
	}
}