body {
	background: #111;
	
	div#main {
		background: #321257;
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
	
		padding: 20px;
		border: 2px solid white;
		border-radius: 20px;

		p {
			content: "Hello, World!";
			
			font-size: xx-large;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			color: white;
			margin: 0;
		}
	}
}